*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#040816;

color:white;

font-family:Poppins,sans-serif;

overflow-x:hidden;

}

/* Background */

.stars,
.stars2,
.stars3{

position:fixed;

inset:0;

pointer-events:none;

z-index:-2;

}

.stars{

background-image:
radial-gradient(white 1px,transparent 1px);

background-size:45px 45px;

opacity:.3;

}

.stars2{

background-image:
radial-gradient(white 2px,transparent 2px);

background-size:170px 170px;

opacity:.15;

}

.stars3{

background-image:
radial-gradient(#ff7aa2 1px,transparent 1px);

background-size:260px 260px;

opacity:.1;

}

.moon{

position:fixed;

top:8%;

right:8%;

width:240px;

height:240px;

border-radius:50%;

background:radial-gradient(circle,#fff,#ddd);

opacity:.15;

filter:blur(2px);

box-shadow:0 0 120px rgba(255,255,255,.2);

}

/* Header */

.gallery-header{

min-height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:40px;

}

.chapter{

letter-spacing:5px;

color:#FFD966;

margin-bottom:25px;

}

.gallery-header h1{

font-family:"Cormorant Garamond",serif;

font-size:72px;

margin-bottom:30px;

}

.subtitle{

font-size:24px;

max-width:700px;

line-height:1.8;

opacity:.85;

}

/* Memory */

.memory{

min-height:100vh;

display:flex;

align-items:center;

justify-content:center;

gap:80px;

padding:80px;

opacity:0;

transform:translateY(80px);

transition:1.2s;

}

.memory.show{

opacity:1;

transform:translateY(0);

}

.memory:nth-child(even){

flex-direction:row-reverse;

}

.memory-image{

width:45%;

overflow:hidden;

border-radius:25px;

}

.memory-image img{

width:100%;

display:block;

transition:8s;

}

.memory.show img{

transform:scale(1.08);

}

.memory-content{

width:40%;

}

.memory-content span{

color:#FFD966;

letter-spacing:2px;

}

.memory-content h2{

font-size:50px;

margin:25px 0;

font-family:"Cormorant Garamond",serif;

}

.memory-content p{

font-size:20px;

line-height:1.9;

opacity:.85;

}

/* Ending */

.ending{

min-height:70vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

.ending h2{

font-size:58px;

font-family:"Cormorant Garamond",serif;

margin-bottom:30px;

}

.next{

margin-top:40px;

padding:18px 40px;

text-decoration:none;

color:white;

border-radius:50px;

background:rgba(255,255,255,.08);

border:1px solid rgba(255,255,255,.2);

}

@media(max-width:900px){

.memory{

flex-direction:column!important;

padding:40px;

}

.memory-image{

width:100%;

}

.memory-content{

width:100%;

text-align:center;

}

.gallery-header h1{

font-size:48px;

}

.memory-content h2{

font-size:38px;

}

}